/seedoo/seedoo.egg-info/dependency_links.txt
/seedoo/seedoo.egg-info/namespace_packages.txt
/seedoo/seedoo.egg-info/PKG-INFO
/seedoo/seedoo.egg-info/requires.txt
/seedoo/seedoo.egg-info/SOURCES.txt
/seedoo/seedoo.egg-info/top_level.txt
/seedoo.egg-info/
/build/
/src/seedoo.geoetl.egg-info/