/.idea/copilot/chatSessions/00000000000.xd
/.idea/deployment.xml
/.idea/image_loader.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/copilot/chatSessions/blobs/version
/.idea/workspace.xml
/.idea/copilot/chatSessions/xd.lck
