# Core Data Science Libraries
pandas
scikit-image
scipy
opencv-python

# Image Processing
Pillow

# Geospatial Libraries
Shapely

# Progress Bar and Parallel Processing
tqdm>=4.41.0

# Database and Configuration
sqlalchemy

# Considered unsafe in a requirements file
# setuptools